
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/7a98527200.js" crossorigin="anonymous"></script>
    <title>Virtual Class/ Login</title>
</head>
<body>
    <header></header>
    

    <footer>
        <nav>
            <ul>
                <li><a href="#" class="icon-footer"><span class="fab fa-instagram fa-2x"></span></a></li>
                <li><a href="#" class="icon-footer"><span class="fab fa-facebook-f fa-2x"></span></a></li>
                <li><a href="#" class="icon-footer"><span class="fab fa-twitter fa-2x"></span></a></li>
                <li><a href="#" class="icon-footer"><span class="fab fa-google-plus-g fa-2x"></span></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>
